.extend-btn {
    cursor: pointer;
}
.right-align {
    text-align: right;
}


@media only screen and (max-width: 768px) {
    .btn, .btn-group {
        width:100%;
        margin-bottom: 10px;
    }
    input [type=text] {
        width: 100%;
    }
    input [type=password] {
        width: 100%;
    }
    span.error-text {
        font-style: italic;        
    }
}
@media only screen and (min-width: 768px) {
    span.error-text {
        padding-left: 5rem;
        font-style: italic;
    }
    .btn-left {
        margin-left: 1rem;
    }
    .btn-right {
        margin-right: 1rem;
    }
}

